.option {
  color: white !important;
  background-color: transparent !important;
}

.option:hover,
.option[data-hovered] {
  background-color: #2C2E33 !important;
  color: white !important;
}

.option[data-selected] {
  background-color: rgba(16, 185, 129, 0.2) !important;
  color: white !important;
}

/* Autofill fix */
.input:-webkit-autofill,
.input:-webkit-autofill:hover, 
.input:-webkit-autofill:focus, 
.input:-webkit-autofill:active {
    -webkit-box-shadow: 0 0 0 30px #1A1B1E inset !important;
    -webkit-text-fill-color: white !important;
    caret-color: white;
}