/* Custom global styles can go here */
:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  background-color: #101113;
  color: #c1c2c5;
}

body {
  margin: 0;
  padding: 0;
  background-color: #101113;
  overflow-x: hidden;
  width: 100%;
}

html {
  overflow-x: hidden;
  width: 100%;
}
